<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FullReg</servlet-name>
  	<display-name>FullReg</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.FullReg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogIn</servlet-name>
  	<display-name>LogIn</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.LogIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileDisplay</servlet-name>
  	<display-name>ProfileDisplay</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.ProfileDisplay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignOut</servlet-name>
  	<display-name>SignOut</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.SignOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProduct</servlet-name>
  	<display-name>AddProduct</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.AddProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductImg</servlet-name>
  	<display-name>ProductImg</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.ProductImg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllProducts</servlet-name>
  	<display-name>ShowAllProducts</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.ShowAllProducts</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowProdById</servlet-name>
  	<display-name>ShowProdById</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.ShowProdById</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LikeRatingLove</servlet-name>
  	<display-name>LikeRatingLove</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.LikeRatingLove</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartProduct</servlet-name>
  	<display-name>CartProduct</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.CartProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveCartProduct</servlet-name>
  	<display-name>RemoveCartProduct</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.RemoveCartProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductLikes</servlet-name>
  	<display-name>ProductLikes</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.ProductLikes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowLikes</servlet-name>
  	<display-name>ShowLikes</display-name>
  	<description></description>
  	<servlet-class>com.ben.controller.ShowLikes</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FullReg</servlet-name>
  	<url-pattern>/FullReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogIn</servlet-name>
  	<url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileDisplay</servlet-name>
  	<url-pattern>/ProfileDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignOut</servlet-name>
  	<url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProduct</servlet-name>
  	<url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductImg</servlet-name>
  	<url-pattern>/ProductImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllProducts</servlet-name>
  	<url-pattern>/ShowAllProducts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowProdById</servlet-name>
  	<url-pattern>/ShowProdById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LikeRatingLove</servlet-name>
  	<url-pattern>/LikeRatingLove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartProduct</servlet-name>
  	<url-pattern>/CartProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveCartProduct</servlet-name>
  	<url-pattern>/RemoveCartProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductLikes</servlet-name>
  	<url-pattern>/ProductLikes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowLikes</servlet-name>
  	<url-pattern>/ShowLikes</url-pattern>
  </servlet-mapping>
</web-app>
